*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --container-1: 1470px;
  --container-wide: 1920px;
  /* spacing */
  --section-padding-left: 24px;
  --section-padding-right: 24px;
  /* 🎨 Базовая палитра */
  /* colors */
  --royal-blue: #5956e9;
  --black: #232233;
  --gray--paragraph--: #6c6c72;
  --white: #fff;
  --bg-color: #fff;
  /* 🧩 Семантические цвета (по ролям) */

  /* typography*/
  --fs-heading: clamp(25px, 4vw, 31.25px);
  --fs-medium: 20px;
  --fs-text: 16px;
  --fs-body: 18px;
  --fs-small: 10px;
  /* btn */
  --btn-bg: #104b4f;
  /* fonts */
  --font-family: "Josefin Sans", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --container: 1250px;
  --container-padding: clamp(16px, 4vw, 40px);
}

/* =========================
   Reset 
========================= */

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* =========================
   base styles
========================= */
body {
  font-family: var(--font-family);
  /* font-family: "Work Sans", sans-serif; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: var(--white);
  background-color: var(--bg-color);
}
/* =========================
   Layout
========================= */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);
  max-width: var(--container);
}
.root.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =========================
   Utilities
========================= */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.section {
  padding-top: 60px;
}

/* =========================
   Components
========================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  padding-top: 15px;
  width: 100%;

  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header_hide {
  transform: translateY(-120%);
}

.header_blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}
/* =========================
   header__top
========================= */
.header__top {
  display: none;
  visibility: hidden;
  justify-content: s3ace-between;
}

.header__contacts {
  position: relative;
  display: flex;
  gap: 48px;
  font-style: normal;
}
.header__contacts a {
  position: relative;
  padding-left: 36px;
  display: block;
}
.header__contacts a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
}
.header__email::before {
  background-image: url("../images/mail.svg");
  background-repeat: no-repeat;
}
.header__tel::before {
  background-image: url("../images/tel.svg");
  background-repeat: no-repeat;
}

.header__socials {
  display: flex;
  height: 18px;
  gap: 30px;
  align-items: center;
}
/* =========================
   header__bottom
========================= */
.header__bottom {
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  background-color: var(--white);
}

.header__menu {
  position: relative;
  width: 100%;
  flex-direction: row;
  border-radius: 3px;
  padding-inline: 9px 3px;
}
/* Burger__menu */
.menu__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 16px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}
.menu__btn span {
  background-color: #000;
  height: 2px;
  width: 100%;
}

/* header__nav */
.header__nav-link {
  display: none;
}
/* logo */
.logo__bg {
  position: absolute;
 left: 0;
    right: 0;
    width: max-content;
    margin-inline: auto;
    top: -10px;
  height: 60px;
  padding-inline: 11px;
  background-color: #fff;
  border-radius: 5px;
}
.logo{height: 16px;width: auto;}
.logo__bg img {
  z-index: 3;
}
.btn-download {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  display: inline-block;
  padding: 9px 6px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--royal-blue);
  border: none;
}
/* =========================
   Hero inside header
========================= */
.hero {
  position: relative;
  background: url("../images/hero-bg.png") no-repeat center center / cover;
  min-height: 1227px;
  z-index: 0;
  padding-top: 208px;
  transition: transform 0.3s ease-in-out, padding-top 0.3s ease-in-out;
}

.hero__inner {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* hero__card */
.hero__card-wrap {
  position: relative;
}
.hero__card-wrap::before {
  position: absolute;
  content: "";
  width: 323px;
  height: 358px;
  background-color: transparent;
  border: 10px solid #7572ff;
  z-index: 0;
  right: -20px;
  top: -20px;
}
.hero__card {
  position: relative;
  z-index: 1;
  background-color: var(--bg-color);
  padding-block: 14px;
  padding-inline: 18px 7px;
  width: 323px;
  height: 318px;
  z-index: 0;
  isolation: isolate;
}

.hero__title {
  font-size: 25px;
  font-weight: 600;
  color: var(--royal-blue);
  margin-bottom: 18px;
  text-transform: uppercase;
}
.hero__title span {
  display: block;
}
.hero__descp {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray--paragraph--);
}

/* сta */
.cta-text {
  color: var(--black);
  text-transform: uppercase;
  font-weight: 600;
}
.hero__cta-text {
  font-size: 20px;
  margin-bottom: 9px;
}
/* app-stores */
.app-stores {
  justify-content: flex-start;
}
.hero__app-stores {
  gap: 14px;
}
.hero__card-wrap {
  margin-bottom: 64px;
}


/* =========================
   ABOUT 
========================= */
.about {
  padding-bottom: 85px;
}
/* padding-top: clamp(60px, calc(10.9vw + 37px)157px) */
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__text-block {
  text-align: center;
}

.about__title {
  color: var(--black);
}
.section__title {
  margin-bottom: 18px;
  font-size: var(--fs-heading);
  text-transform: uppercase;
  font-weight: 700;
}
.about__desc {
  color: var(--gray--paragraph--);
}
.about__desc.about__desc-tablet {
  display: none;
}
.section__desc {
  margin-bottom: 40px;
  font-size: var(--fs-text);
  max-width: 300px;
}
.about__content {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about__img-wrap img {
  height: 100%;
  width: 100%;
}
.about__features-list {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2.5vw, 40px);
}
.about__features-item {
  padding: 18px 16px 10px 61px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  width: 343px;
  height: 110px;
}
.about__features-item h3 {
  position: relative;
  margin-bottom: 3px;
  color: var(--black);
  font-size: var(--fs-medium);
  text-transform: uppercase;
  font-weight: 600;
}
.about__features-item h3::before {
  content: "";
  position: absolute;
  background: url("../images/about-check.svg") no-repeat;
  left: -42px;
  top: 2px;
  width: 24px;
  height: 24px;
}
.about__features-text {
  color: var(--gray--paragraph--);
  white-space: break-all;
}
.about__features-text-desktop {
  display: none;
}
/* media */
@media (min-width: 767px) {
  .section {
    padding-top: 120px;
  }
  .header {
    padding-top: 25px;
  }
  .header__inner {
    width: 100%;
  }
  .hero__card {
    width: 356px;
    height: 318px;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    visibility: visible;
  }
  .header__bottom {
    height: 60px;
    width: 100%;
    margin-block: 0;
  }
.logo {
    height: 28px;}
  .logo__bg {
    width: 200px;
    height: 90px;
  }
 
  .btn-download {
    font-size: 20px;
  }
  /* =========================
 HERO 
========================= */

  .hero {
    padding-top: 355px;
    min-height: 1024px;
  }

  .hero__inner {
    flex-direction: row;
    gap: 90px;
    align-items: flex-start;
    padding-top: 25px;
  }
  .hero__card {
    width: 356px;
  }
  .hero__title {
    margin-bottom: 6px;
    font-size: 31px;
    font-weight: 700;
  }
  .hero__descp {
    margin-bottom: 23px;
  }
  .hero__card-wrap {
    margin-top: 67px;
  }
  .hero__card-wrap::before {
    width: 375px;
    height: 381px;
    border: 18px solid #7572ff;
    right: -34px;
    top: -32px;
  }
  /* =========================
 ABOUT
========================= */
  .about__content {
    flex-direction: row;
    gap: 60px;
  }
  .section__desc {
    margin-bottom: 60px;
    font-size: var(--fs-text);
    max-width: 450px;
  }
  .about__features-item {
    padding-right: 30px;
    width: 391px;
  }

  .about__desc {
    display: none;
  }
  .about__desc.about__desc-tablet {
    display: block;
  }
}

@media (min-width: 1440px) {
  /* =========================
   HEADER
========================= */
  .header {
    padding-top: 35px;
  }
  .header__top {
    margin-bottom: 15px;
  }
  .header__bottom {
    margin-bottom: 20px;
  }
  .header__menu {
    padding-inline: 52px 5px;
  }
  .menu__btn {
    display: none;
  }
  .header__nav {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .header__nav-left {
    margin-right: auto;
  }
  .header__nav-right {
    margin-left: auto;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
  }

  .header__nav-list + .header__nav-list {
    margin-left: auto;
    margin-right: 43px;
    gap: 40px;
  }
  .header__nav-link {
    display: block;
  }
  .nav__link {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    color: var(--black);
  }
  .nav__link-blue {
    color: var(--royal-blue);
    text-decoration-line: underline;
  }

  .btn-download {
    padding: 12px 15px 8px 16px;
    margin-left: 43px;
  }
  /* =========================
   HERO
========================= */
  .hero {
    padding-top: 178px; /* 216- {.hero__innerpadding-top:38}*/
    min-height: 987px;
  }

  .hero__inner {
    padding-top: 38px;
    gap: 174px;
  }
  .hero__card {
    padding-block: 40px;
    padding-inline: 30px 23px;
    width: 570px;
    height: 432px;
  }

  .hero__card-wrap {
    margin-top: 156px;
    width: 570;
    height: 432;
  }

  .hero__card-wrap::before {
    width: 570px;
    height: 535px;
    right: -50px;
    top: -50px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 18px;
  }
  .hero__descp {
    margin-bottom: 52px;
  }

  .hero__cta-text {
    margin-bottom: 5px;
  }
  /* =========================
   ABOUT
========================= */
  .about.section {
    padding-top: 157px;
  }

  .about__inner {
    max-width: 1141px;
  }
  .about__content {
    gap: 188px;
  }
  .about__features-item {
    padding: 30px 20px 21px 59px;
    width: 570px;
    height: 160px;
  }

  .about__features-text {
    display: none;
  }
  .about__features-text-desktop {
    display: block;
    color: var(--gray--paragraph--);
  }
}
